@keyframes float {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(-20px, -30px);
    }
    40% {
		transform: translate(20px, -30px);
	}
	60% {
		transform: translate(-20px, 30px);
    }
    80% {
		transform: translate(-10, -15px);
	}
	100% {
		transform: translate(0px, 0);
	}
}

body {
    background: #555;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    font-size: 16pt;
}

@media (max-width: 900px) {
  body {
    font-size: 12pt;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 8pt;
  }
}

h1,
h2 {
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 24pt;
}
h2 {
    font-size: 18pt;
}

p {
    margin-top: 1em;
}

ol {
    list-style: decimal;
    padding-left: 1.6em;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: rgba(0, 0, 0, 0.37);
}
td,th {
    padding: 0.2em;
}
th {
    text-align: left;
    font-weight: bold;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(121 36 36);
    transition: all 1s;
    overflow: auto;
    color: #d2cfbb;
    box-shadow: inset 0 0 50pt rgba(0, 0, 0, 0.24), 5pt 5pt 9pt rgba(0, 0, 0, 0.24);
    background-image: url(/images/bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: luminosity;
}

body.started #content {
    top: 100%;
}

#menu-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,0.5);
}

#game-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,0.5);
    background-color: transparent;
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    background-blend-mode: luminosity;
    pointer-events: none;
    transform: rotate(180deg);
    opacity: 0.1;
    display: none;
}

body.started #game-overlay {
    display: block;
}

body.started #menu-overlay {
    background: transparent;
    display: none;
}

#game-area {
    position: fixed;
    background: white;
    left: 0;
    width: 100%;
    top: -100%;
    height: 100%;
    filter: sepia(1) blur(20px);
    transition: all 1s;
}
body.started #game-area {
    top: 0;
    filter: sepia(0) blur(0px);
}

#player,
#player-reversed,
#present {
    display: none;
}

#top>div,
#bottom>div {
    min-height: 10em;
    padding: 0.5em 2em;
}

#top #left {
    min-height: 10px;
}

#top #right {
    position: absolute;
    width: 20%;
    height: 30%;
    right: 10%;
    top: 10%;
    background: url(/images/tonttu.png) no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    box-shadow: none;
	animation: float 20s ease-in-out infinite;
}

#bottom #left {
    position: absolute;
    width: 15px;
    height: 30%;
    right: 10%;
    top: 10%;
    background: url(/images/paketti.png) no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    box-shadow: none;
    animation: float 20s ease-in-out infinite reverse;
}

#bottom #right {
    min-height: 10px;
}


button#start {
    color: white;
    background: #398049;
    border: none;
    padding: 0.6em;
    border-radius: 6px;
    box-shadow: 2pt 2pt 5pt #0000007a;
    margin: 0 auto;
    display: block;
    font-size: 2.4em;
    margin-top: 1em;
}

button#start:active,
button#start:hover,
button#start:focus {
    background: #285f35;
    outline: none;
}
button#start:active {
    box-shadow: 0;
    background: #1e3323;
}

button#sound {
    color: white;
    background: #398049;
    border: none;
    padding: 0.6em;
    border-radius: 6px;
    box-shadow: 2pt 2pt 5pt #0000007a;
    margin: 0 auto;
    display: block;
    position: fixed;
    bottom: 1.8em;
    right: 2em;
}

button#sound.muted {
    background: #3d3d3d;
}
button#sound:active,
button#sound:hover,
button#sound:focus {
    background: #285f35;
    outline: none;
}
button#sound:active.muted,
button#sound:hover.muted,
button#sound:focus.muted {
    background: #3d3d3d;
    outline: none;
}
button#sound:active {
    box-shadow: 0;
    background: #1e3323;
}
button#sound:active.muted {
    background: #3d3d3d;
}

button#dive {
    display: none;
    color: white;
    background: #777;
    border: none;
    padding: 0.6em;
    border-radius: 6px;
    box-shadow: 2pt 2pt 5pt #0000007a;
    min-width: 10em;
    font-size: 15pt;
    line-height: 0.8em;
}

button#dive:active,
button#dive:hover,
button#dive:focus {
    background: #555;
    outline: none;
}
button#dive:active,
button#dive.active {
    box-shadow: 0;
    background: #333;
}

body.started button#dive {
    display: block;
    position: absolute;
    bottom: 1em;
    width: 80%;
    left: 10%;
}
